.form label {
  font-size: 1.5em;
}

.form {
  display: flex;

  flex-direction: column;
  overflow: auto;
  /* max-height: calc(100% - 20rem); */
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.button {
  font-family: "Ma Shan Zheng", cursive;

  cursor: pointer;
  background-color: transparent;

  align-self: flex-end;

  color: #f6f6f6;
  font-size: 1.5rem;
  padding: 1rem 2rem;

  border: 3px solid #849aa5;
  box-shadow: inset 0 0 0 5px #f6f6f6;
}

.button:hover,
.button:active {
  background-color: #b09073;
  border: 3px solid #b09073;

  color: #24212e;
}

.button {
  background-color: #6e7e97;
  color: #f6f6f6;
}
