.input {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
  width: 20%;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
.input.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
.invalid p {
  color: red;
  width: 100%;
  margin: 0;

  flex-wrap: wrap;
}

.input input[type="text"],
.input input[type="email"] {
  width: 70%;
  margin: 0.75rem;
}
