.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem;
  padding: 2rem;
  padding-bottom: 1rem;
  position: relative;
  color: #24212e;
}

@media (max-width: 768px) {
  .product {
    margin: 2rem 0;
  }
}
.product .ch_title {
  margin: 0 0 0.5rem 0;

  font-family: "Ma Shan Zheng", cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  position: absolute;
  top: -1rem;
  left: 50%;
  height: 330px;

  width: 6rem;
  padding-top: 1rem;

  color: #24212e;
  background-color: transparent;
  transform: translateX(-50%);
  isolation: isolate;
  z-index: 1;
}

.product .ch_name {
  margin: 4rem auto;

  width: 3rem;
  display: block;
}

.product .hovered {
  z-index: 3;

  color: white;
  background-color: #849aa5;
}

.product h3 {
  margin: 0 0 0.25rem 0;
  color: #24212e;
}

.description {
  color: #24212e;
}
.test {
  background-color: #f6f6f6;
  background-blend-mode: multiply;

  background-position: center;
  width: 100%;
  height: 300px;
  z-index: 2;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: 2;
  position: relative;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #b09073;
  font-size: 1.25rem;
}
