.products {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem 1rem;
  animation: meals-appear 1s ease-out forwards;
  background-image: url("./../assets/bg-pattern-paper4.jpg");
  background-size: 10px;
  margin-bottom: 10rem;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  border: 0.75rem solid #f6f6f6;
  box-shadow: inset 0 0 0 1rem #849aa5;

  display: grid;
}

@media (min-width: 768px) {
  .products ul {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

.message {
  text-align: center;
}

@keyframes products-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
